body {
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
}

nav {
    position: sticky;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}


.hero {
    font-family: 'Permanent Marker', cursive;
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/bike-at-zion.jpg");
    /*background: url("./images/redrocks_02.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*filter: brightness(80%);*/
    filter: blur(--blur);
}

/*.hero svg{*/
/*    !*position: relative;*!*/
/*    aspect-ratio: inherit;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 80%;*/
/*    transition: transform 150ms ease-in-out;*/
/*}*/

.hero .row {
    font-family: 'Permanent Marker', cursive;
    position: relative;
    bottom: 125px;
    color: white;
    text-align: start;
    margin: 0.625rem;
    text-shadow: 5px 2.5px 0 rgba(0,0,0,0.5);
    /*outline: 2px red solid;*/
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
    /*outline: 2px red solid;*/
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    /*outline: 2px red solid;*/
}
/*.img-overlay-wrap svg {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 50%;*/
/*    transition: transform 150ms ease-in-out;*/
/*} !* Currently displays the big purple circle SVG*!*/

.img-overlay-wrap svg circle:hover {
    transform: rotate(90deg);
}

.img-overlay-wrap svg polygon:hover {
    transform: rotate(90deg);
}

.portfolio-wrap {
    /*background-color: #515975;*/
    position: static;
}

.portfolio-wrap .card-body {
    background-color: #F3D662;

}

.about-me-wrap {
    background-color: white;

}

.about-me .education-wrap {
    background-color: #F29F80;
}

.about-me .skills-wrap {
    background-color: #8677A6;
}

.about-me .hobbies-wrap {
    background-color: #01858B;
}

.closing-wrap .row {
    background-color: #45718C;
    color: black;
    opacity: 200%;
}

.link-container {
    background-color: #45718C;
}



/*footer line and quote style */
.foot-line-wrap {
    background-color: #038C8C;
    outline: 5px black solid;
    color: black;

}